
    th,tr{
            border: 1px solid rgb(9, 9, 9);
            border-collapse: collapse;border-color: black;background-color: bisque;
            border-spacing: 0px
        }
    th{
           width: 30px;
           color:rgb(14, 16, 1);
           
        }